.popup {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 #c7c5c6;
  border-radius: 12px;
  transition: box-shadow 0.2s;

  &__content {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }
}